.login-992 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 90px;
}

.login-wrapper {
    background: #ffffff;
    /*padding: 20px;*/
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    /*margin-bottom: 30px;*/
}

.login-title span {
    color: rgb(0, 173, 219, 1);
}

.login-panel {
    padding: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.icon-login {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #495057;
}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 16px;
}

.input-container input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-button {
    width: 100%;
    padding: 10px 15px;
    background-color: #336699;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-button:hover,
.login-button:focus {
    background-color: #0056b3;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account-p {
    margin-bottom: 10px;
}

.link-register {
    color: #007bff;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: color 0.2s;
}

.link-register:hover {
    color: #0056b3;
}

.link-register a {
    text-decoration: none;
    color: inherit;
}

.input-container input {
    min-width: 250px;
}
