/* Usuń klasy odpowiedzialne za animacje, ponieważ teraz są one kontrolowane przez React */
.notifications-wrapper {
    /* Usuń właściwości, które teraz są kontrolowane przez React */
}

.notifications-title-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* ... reszta twojego CSS ... */

.notifications-title {
    font-weight: 300;
    font-size: 20px;
}

.notifications-close {
    font-size: 22px;
    margin-top: 4px;
    margin-left: auto;
}

.order-notification img {
    max-height: 40px;
    margin-right: 10px;
}

.orders-notifications-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.order-notification {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(119, 119, 119, .17);
}

.notification-info-wrapper p:first-of-type {
    font-weight: 700;
}

.notification-info-wrapper p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}
