.register-992 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 70px 0;*/
    margin-bottom: 20px;
}


@media (min-width: 576px) {
    form.reg-form {
        display: flex;
        flex-direction: column;
    }

    .reg-container-inputs {
        display: flex;
    }

    .input-container{
        margin-right: 10px;
    }

}